<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pseudo %><br>
    <%= f.text_field :pseudo %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :sexe %><br>
    <%= f.select :sexe, [["Femme", "Femme"], ["Homme","Homme"]] %>
  </div>
  <div class="field">
    <%= f.label :ville %><br>
    <%= f.text_field :ville %>
  </div>
  <div class="field">
    <%= f.label :depart %><br>
    <%= f.text_field :depart %>
  </div>
  <div class="field">
    <%= f.label :pays %><br>
    <%= f.text_field :pays %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%= f.select :sexe, [["Femme", "Femme"], ["homme",   "homme"]] %>
<% end %>



