

<p id="notice"><%= notice %></p>

<p>
  <strong>Pseudo:</strong>
  <%= @user.pseudo %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Sexe:</strong>
  <%= @user.sexe %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @user.ville %>
</p>

<p>
  <strong>Depart:</strong>
  <%= @user.depart %>
</p>

<p>
  <strong>Pays:</strong>
  <%= @user.pays %>
</p>


<!-- Informations individu autiste -->

<h2>Informations</h2>
<% @user.infos.each do |comment| %>
<p>
  <strong>age de diagnostic</strong>
  <%= comment.agediag %>
</p>

<p>
  <strong>pays du diagnostic </strong>
  <%= comment.paysdiag %>
</p>

<p>
  <strong>Type d'autisme</strong>
  <%= comment.autistype %>
</p>
<p>
  <strong>Troubles psy </strong>
  <%= comment.psytrouble %>
</p>
<p>
  <strong>Autres troubles </strong>
  <%= comment.autretrouble %>
</p>

<p>
  <%= link_to 'Destroy ', [comment.user, comment],
  method: :delete,
  data: { confirm: 'Are you sure?' } %>
</p>
<% end %>

</p>

<!-- Ajout des informations pour chaque individu -->

<h2>Add informations :</h2>
<%= form_for([@user, @user.infos.build]) do |f| %>
<p>
  <%= f.label :agediag , "Age de diagnostic" %><br />
  <%= f.text_field :agediag %>
</p>
<p>
  <%= f.label :paysdiag , "Pays du diagnostic" %><br />
  <%= f.text_area :paysdiag %>
</p>
<p>
  <%= f.label :autistype , "Type d'autisme" %><br />
  <%= f.select :autistype, [
    [" ", ""], 
    ["F840-autisme infantile", "F840-autisme infantile"], 
    ["F841-autisme atypique",   "F841-autisme infantile"], 
    ["F842-Syndrome de Rett",   "F842-Syndrome de Rett"],
    ["F843-Autre trouble désintégratif de l'enfance","F843-Autre trouble désintégratif de l'enfance"],
    ["F844-Hyperactivité associée à un retard mental et à des mouvements stéréotypés", "F844-Hyperactivité associée à un retard mental et à des mouvements stéréotypés"],
    ["F845-Syndrome de d'Asperger",   "F845-Syndrome de d'Asperger"],
    ["F848-Autres troubles envahissants du développmenent",   "F848-Autres troubles envahissants du développmenent"],
    ["F849-Troubles envahissants du développmenent,sans précision ",   "F849- Troubles envahissant du développmenent , sans précision"]
    ] %>
  </p>


  <p>
    <%= f.label :psytrouble , "Troubles du developpment psychologique"%><br />

    <%= f.select :psytrouble, [
      [" ", ""], 


      ["F800-Trouble spécifique de l'acquisition de l'articulation", "F800-Trouble spécifique de l'acquisition de l'articulation"], 

      ["F801-Trouble de l'acquisition du langage,  de type expressif",   "F801-Trouble de l'acquisition du langage,  de type expressif"],

      ["F802-Trouble de l'acquisition du langage,  de type réceptif",   "F802-Trouble de l'acquisition du langage,  de type réceptif"], 

      ["F803-Aphasie acquise avec épilepsie[Landau-Kleffner]",   "F802-Aphasie acquise avec épilepsie[Landau-Kleffner]"],

      ["F808-Autres troubles du développement de la parole et du langage",   "F808-Autres troubles du développement de la parole et du langage"],

      ["F809-Troubles du developpment de la parole et du langage, sans précision",   "F809-Troubles du developpment de la parole et du langage, sans précision"],

      ["F810-Trouble de l'acquisition de la lecture",   "F810-Trouble de l'acquisition de la lecture"],

      ["F811-Trouble de l'acquisition de l'orthographe",   "F811-Trouble de l'acquisition de l'orthographe"],
      ["F812-Trouble de l'acquisition de l'arithmétique",   "F812-Trouble de l'acquisition de l'arithmétique"],

      ["F813-Trouble mixte des acquisitions scolaire",   "F813-Trouble mixte des acquisitions scolaire"],

      ["F818-Autres troubles du développement",   "F818-Autres troubles du développement"],

      ["F819-Trouble du developpment, des acquisitions scolaires, sans précision",   "F819-Trouble du developpment, des acquisitions scolaires, sans précision"],

      ["F82-Troubles spécifique du développement moteur",   "F82-Troubles spécifique du développement moteur"],

      ["F83-Troubles spécifiques mixte du développement",   "F83-Troubles spécifiques mixte du développement"],

      ["F840- Autisme infantile",   "F-Autres Autisme infantile"],

      ["F841-Autisme atypique",   "F841-Autisme atypique"],

      ["F842-Syndrome de Rett",   "F842-Syndrome de Rett"],
      ["F843-Autre trouble désintégratif de l'enfance",   "F843-Autre trouble désintégratif de l'enfance"],

      ["F844-Hyperactivité associée à un retard mental et à des mouvements",   "F844-Hyperactivité associée à un retard mental et à des mouvements"],

      ["F845-Syndrome d'Asperger",   "F845-Syndrome d'Asperger"],

      ["F849-Troubles envahissants du développement",   "F849-Troubles envahissants du développement"],
      ["F88-Autres troubles du développement psychologique",   "F88-Autres troubles du développement psychologique"],

      ["F849-Trouble du développment psychologique",   "F849-Trouble du développment psychologique"],
      ]%>

    </p>


    <p>
      <%= f.label :autretrouble , "Autres troubles"%><br />


      <%= f.select :autretrouble, [
        [" ", ""], 
        
        ["F000-Démence de la maladie d'Alzheimer, à début précoce(G30.0)", "F000-Démence de la maladie d'Alzheimer, à début précoce(G30.0)"], 
        ["F001-Démence de la maladie d'Alzheimer, à début tardif(G30.1)", "F000-Démence de la maladie d'Alzheimer, à début tardif(G30.1)"], 
        ["F002-Démence de la maladie d'Alzheimer, forme atypique ou mixte(G30.8)", "F000-Démence de la maladie d'Alzheimer, forme atypique ou mixte(G30.8)"],
        ["F009-Démence de la maladie d'Alzheimer, sans précision(G30.9)", "F000-Démence de la maladie d'Alzheimer, sans précision(G30.9)"], 

        ["F010-Démence vasculaire à début aigu", "F000-Démence vasculaire à début aigu"], 
        ["F011-Démence vasculaire par infractus multiples", "F011-Démence vasculaire par infractus multiples"], 
        ["F010-Démence vasculaire à début aigu", "F000-Démence vasculaire à début aigu"], 
        ["F012-Démence vasculaire sous-corticale", "F012-Démence vasculaire sous corticale"], 
        ["F013-Démence vasculaire mixte, corticale et sous-corticale", "F013-Démence vasculaire mixte, corticale et sous-corticale"], 
        ["F018-Autres formes de démence vasculaire ", "F018-Autres formes de démence vasculaire "], 
        ["F019-Démence vasculaire, sans précision", "F019-Démence vasculaire, sans précision"],



        ["F021-Démence de la maladie de Creutzfeld-Jakob(A81.0)", "F021-Démence de la maladie de Creutzfeld-Jakob(A81.0)"], 
        ["F022-Démence de la maladie de Huntington(G10)", "F022-Démence de la maladie de Huntington(G10)"], 
        ["F023-Démence de la maladie de Parkinson(G20)", "F023-Démence de la maladie de Parkinson(G20)"], 
        ["F024-Démence de la maladie de la maladie due au VIH(B22.0)", "F024-Démence de la maladie de la maladie due au VIH(B22.0)"], 

        ["F028-Démence en cours d'autres maladies classées ailleurs", "F028-Démence en cours d'autres maladies classées ailleurs"], 
        ["F03-Démence, sans précision", "F03-Démence, sans précision"], 









        ["F009-Démence de la maladie d'Alzheimer, sans précision(G30.9)", "F000-Démence de la maladie d'Alzheimer, sans précision(G30.9)"], 

        ["F009-Démence de la maladie d'Alzheimer, sans précision(G30.9)", "F000-Démence de la maladie d'Alzheimer, sans précision(G30.9)"], 

        ["F009-Démence de la maladie d'Alzheimer, sans précision(G30.9)", "F000-Démence de la maladie d'Alzheimer, sans précision(G30.9)"], 

        ["F009-Démence de la maladie d'Alzheimer, sans précision(G30.9)", "F000-Démence de la maladie d'Alzheimer, sans précision(G30.9)"],  

        ]%>





      </p>
      <p>
        <%= f.submit %>
      </p>
      <% end %>


      <div>


        <!-- Day_humour & event -->


        <h2>Etat du jour : </h2>
        <% @user.humours.each do |comment| %>
        <p>
          <strong> Humour du jour </strong>
          <%= comment.day_humour %>
        </p>

        <p>
          <strong>Evenement du jour </strong>
          <%= comment.event %>
        </p>

        <%= link_to 'Destroy etat', [comment.user, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
        <% end %>



<!-- add etat end event -->

        <h2>L'etat de l'enfant et event important</h2>
        <%= form_for([@user, @user.humours.build]) do |f| %>
        <p>
          <%= f.label :day_humour %><br />
          <%= f.radio_button :day_humour, "1" %>Bien <br />
          <%= f.radio_button :day_humour, "0" %>Pas bien <br />
          
        </p>
        <p>
          <%= f.label :event %><br />
          <%= f.text_area :event %>
        </p>
        <p>
          <%= f.submit %>
        </p>
        <% end %>



      </div>








      <%= link_to 'Edit', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %>
